body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #777;
}

section {
    margin: auto;
    width: 800px;
    position: relative;
    text-align: center;
}

ul {
    text-align: left;
}

/* Tabela */


table {
    margin: auto;
    border: 1px #aca3ff solid;
    border-collapse: collapse;
    text-align: center;
    font-weight:bold;
}


table td{
    padding: 5px;
    width:20px;
    height:20px;
    border-bottom: 1px solid #aca3ff;
    border-left: 1px solid #aca3ff;
}

td:hover {
    background-color: #dbd7ff;              
}

td.empty {
    background-color: #e6ffd2;              
}

td.emptyN {
    background-color: #fffdc6;              
}

td.mine {
    background-color: #ffdce5;              
}

td.black {
    color: #eee;
    background-color: #000;              
}
